{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid"  style="min-height: 500px">
        <img style="float: left" width="400px" height="400px" src="{{ asset('images/poaginicio.png') }}" />
        <div style="float: left; width: 60%; margin-left: 20px">
            <h1 style="color:#33CCFF; text-align: center; text-shadow: #ccc 0.1em 0.1em 0.2em; ">Bienvenido al Sistema Integral de Gestión Hospitalaria</h1>
            <br/>
            <div style="font-size: 15px">
                <h4 style="color:#33CCFF; text-align: center;text-shadow: #ccc 0.1em 0.1em 0.2em;">Confiabilidad - Seguridad – Rendimiento – Usabilidad - Interfaz coherente</h4>
                <p style="text-align: justify">Las 5 Reglas de Oro de todo Sistema de Gestión, que han sido minuciosamente tratadas por el Grupo de Desarrollo del Centro Internacional de Retinosis Pigmentaria, para que <b>USTED</b> se sienta en un ambiente de trabajo familiar, fácil de usar, intuitivo, seguro y fiable, logrando la excelencia en la calidad de los servicios.</p>

                <p style="text-align: justify">Nuestro objetivo es optimizar la información generada por el Proceso Médico Asistencial, con la intención de que nuestro sistema se convierta en esa herramienta de trabajo que satisface las necesidades específicas de cada usuario.</p>

            </div>
            <br/>
            <div style="clear: both"></div>
            <p style="font-style: italic; font-family: 'Open Sans Light Italic'; width: 350px; float: right; text-align: right">
                "La tecnología no es nada.
                Lo importante es que tengas fe en la gente,
                que sean básicamente buenas e inteligentes,
                y si les das herramientas,
                harán cosas maravillosas con ellas".
                <br/> Steve Jobs.</p>
        </div>
    </div>
    <div style="clear: both;"></div>
{% endblock %}