/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
node_modules/.cache/babel-loader/4401aa2d52f4bfc236d52b41493dd2b0.json.gz
node_modules/.cache/babel-loader/478d5a46db14411f1ba053d52019f725.json.gz
node_modules/.cache/babel-loader/48f0da6fc440effdbc29b34998bc72dd.json.gz
node_modules/.cache/babel-loader/4b9979a8fae3feadc28c7363c46ad002.json.gz
node_modules/.cache/babel-loader/4f0c0576742d94baaa79435cc0af8005.json.gz
node_modules/.cache/babel-loader/5477fb1ee58f06f68a002caba0e85aca.json.gz
node_modules/.cache/babel-loader/5e326df85ca0e80924e0ba7cd992c39a.json.gz
node_modules/.cache/babel-loader/5e689c590ac2569ca947aae8b2db6384.json.gz
node_modules/.cache/babel-loader/5ee7c98d10197a956f5a9caf69aa65e4.json.gz
*.json
*.css
*.js
web/plugins/upload/bootstrap-fileinput-master/README.md
web/plugins/upload/bootstrap-fileinput-master/LICENSE.md
web/plugins/upload/bootstrap-fileinput-master/examples/index.html
web/plugins/upload/bootstrap-fileinput-master/CHANGE.md
web/plugins/timepicker/docs/Version 4 Contributors guide.md
web/plugins/timepicker/docs/Version 4 Changelog.md
web/plugins/timepicker/docs/Options.md
web/plugins/timepicker/docs/Installing.md
web/plugins/timepicker/docs/index.md
web/plugins/timepicker/docs/Functions.md
web/plugins/timepicker/docs/Extras.md
web/plugins/timepicker/docs/Events.md
web/plugins/timepicker/docs/ContributorsGuide.md
web/plugins/timepicker/docs/ChangeLog.md
web/plugins/snackbarjs/README.md
web/plugins/snackbarjs/LICENSE.md
web/plugins/material_desing_bs3/js/ripples.min.js.map
web/plugins/material_desing_bs3/js/material.min.js.map
web/plugins/material_desing_bs3/fonts/RobotoDraftRegular.woff2
web/plugins/material_desing_bs3/fonts/RobotoDraftRegular.woff
web/plugins/material_desing_bs3/fonts/RobotoDraftMedium.woff2
web/plugins/material_desing_bs3/fonts/RobotoDraftMedium.woff
web/plugins/material_desing_bs3/fonts/RobotoDraftItalic.woff2
web/plugins/material_desing_bs3/fonts/RobotoDraftItalic.woff
web/plugins/material_desing_bs3/fonts/RobotoDraftBold.woff2
web/plugins/material_desing_bs3/fonts/RobotoDraftBold.woff
web/plugins/material_desing_bs3/fonts/Material-Design-Icons.woff
web/plugins/material_desing_bs3/fonts/Material-Design-Icons.ttf
web/plugins/material_desing_bs3/fonts/Material-Design-Icons.svg
web/plugins/material_desing_bs3/fonts/Material-Design-Icons.eot
web/plugins/material_desing_bs3/fonts/LICENSE.txt
web/plugins/material_desing_bs3/css/roboto.min.css.map
web/plugins/material_desing_bs3/css/roboto.css.map
web/plugins/material_desing_bs3/css/ripples.min.css.map
web/plugins/material_desing_bs3/css/ripples.css.map
web/plugins/material_desing_bs3/css/material.min.css.map
web/plugins/material_desing_bs3/css/material.css.map
web/plugins/material_desing_bs3/css/material-fullpalette.min.css.map
web/plugins/material_desing_bs3/css/material-fullpalette.css.map
web/plugins/malihu-custom-scrollbar/readme.md
web/plugins/malihu-custom-scrollbar/mCSB_buttons.png
web/plugins/malihu-custom-scrollbar/LICENSE.txt
web/plugins/jquery-validate.password/demo/unchecked.gif
web/plugins/jquery-validate.password/demo/right_white.png
web/plugins/jquery-validate.password/demo/plain.html
web/plugins/jquery-validate.password/demo/milk.png
web/plugins/jquery-validate.password/demo/milk.html
web/plugins/jquery-validate.password/demo/localized.html
web/plugins/jquery-validate.password/demo/left_white.png
web/plugins/jquery-validate.password/demo/index.html
web/plugins/jquery-validate.password/demo/checked.gif
web/plugins/jquery-validate.password/demo/bg.gif
web/plugins/icheck/skins/square/yellow@2x.png
web/plugins/icheck/skins/square/yellow.png
web/plugins/icheck/skins/square/square@2x.png
web/plugins/icheck/skins/square/square.png
web/plugins/icheck/skins/square/red@2x.png
web/plugins/icheck/skins/square/red.png
web/plugins/icheck/skins/square/purple@2x.png
web/plugins/icheck/skins/square/purple.png
web/plugins/icheck/skins/square/pink@2x.png
web/plugins/icheck/skins/square/pink.png
web/plugins/icheck/skins/square/orange@2x.png
web/plugins/icheck/skins/square/orange.png
web/plugins/icheck/skins/square/grey@2x.png
web/plugins/icheck/skins/square/grey.png
web/plugins/icheck/skins/square/green@2x.png
web/plugins/icheck/skins/square/green.png
web/plugins/icheck/skins/square/blue@2x.png
web/plugins/icheck/skins/square/blue.png
web/plugins/icheck/skins/square/aero@2x.png
web/plugins/icheck/skins/square/aero.png
web/plugins/icheck/skins/polaris/polaris@2x.png
web/plugins/icheck/skins/polaris/polaris.png
web/plugins/icheck/skins/minimal/yellow@2x.png
web/plugins/icheck/skins/minimal/yellow.png
web/plugins/icheck/skins/minimal/red@2x.png
web/plugins/icheck/skins/minimal/red.png
web/plugins/icheck/skins/minimal/purple@2x.png
web/plugins/icheck/skins/minimal/purple.png
web/plugins/icheck/skins/minimal/pink@2x.png
web/plugins/icheck/skins/minimal/pink.png
web/plugins/icheck/skins/minimal/orange@2x.png
web/plugins/icheck/skins/minimal/orange.png
web/plugins/icheck/skins/minimal/minimal@2x.png
web/plugins/icheck/skins/minimal/minimal.png
web/plugins/icheck/skins/minimal/grey@2x.png
web/plugins/icheck/skins/minimal/grey.png
web/plugins/icheck/skins/minimal/green@2x.png
web/plugins/icheck/skins/minimal/green.png
web/plugins/icheck/skins/minimal/blue@2x.png
web/plugins/icheck/skins/minimal/blue.png
web/plugins/icheck/skins/minimal/aero@2x.png
web/plugins/icheck/skins/minimal/aero.png
web/plugins/icheck/skins/line/line@2x.png
web/plugins/icheck/skins/line/line.png
web/plugins/icheck/skins/futurico/futurico@2x.png
web/plugins/icheck/skins/futurico/futurico.png
web/plugins/icheck/skins/flat/yellow@2x.png
web/plugins/icheck/skins/flat/yellow.png
web/plugins/icheck/skins/flat/red@2x.png
web/plugins/icheck/skins/flat/red.png
web/plugins/icheck/skins/flat/purple@2x.png
web/plugins/icheck/skins/flat/purple.png
web/plugins/icheck/skins/flat/pink@2x.png
web/plugins/icheck/skins/flat/pink.png
web/plugins/icheck/skins/flat/orange@2x.png
web/plugins/icheck/skins/flat/orange.png
web/plugins/icheck/skins/flat/grey@2x.png
web/plugins/icheck/skins/flat/grey.png
web/plugins/icheck/skins/flat/green@2x.png
web/plugins/icheck/skins/flat/green.png
web/plugins/icheck/skins/flat/flat@2x.png
web/plugins/icheck/skins/flat/flat.png
web/plugins/icheck/skins/flat/blue@2x.png
web/plugins/icheck/skins/flat/blue.png
web/plugins/icheck/skins/flat/aero@2x.png
web/plugins/icheck/skins/flat/aero.png
web/plugins/icheck/README.md
web/plugins/icheck/demo/index.html
web/plugins/icheck/demo/css/montserrat-regular.woff
web/plugins/icheck/demo/css/montserrat-regular.ttf
web/plugins/icheck/demo/css/montserrat-regular.svg
web/plugins/icheck/demo/css/montserrat-regular.eot
web/plugins/icheck/demo/css/montserrat-bold.woff
web/plugins/icheck/demo/css/montserrat-bold.ttf
web/plugins/icheck/demo/css/montserrat-bold.svg
web/plugins/icheck/demo/css/montserrat-bold.eot
web/plugins/icheck/demo/css/ie/icon-star.png
web/plugins/icheck/demo/css/ie/icon-options.png
web/plugins/icheck/demo/css/ie/icon-lab.png
web/plugins/icheck/demo/css/ie/icon-github.png
web/plugins/icheck/demo/css/ie/icon-fork.png
web/plugins/icheck/demo/css/ie/header-line.png
web/plugins/icheck/demo/css/ie/arrow-top.png
web/plugins/icheck/demo/css/ie/arrow-bottom.png
web/plugins/icheck/demo/css/icheck.png
web/plugins/icheck/demo/css/banner.jpg
web/plugins/icheck/CHANGELOG.md
web/plugins/font-awesome/scss/font-awesome.scss
web/plugins/font-awesome/scss/_variables.scss
web/plugins/font-awesome/scss/_stacked.scss
web/plugins/font-awesome/scss/_screen-reader.scss
web/plugins/font-awesome/scss/_rotated-flipped.scss
web/plugins/font-awesome/scss/_path.scss
web/plugins/font-awesome/scss/_mixins.scss
web/plugins/font-awesome/scss/_list.scss
web/plugins/font-awesome/scss/_larger.scss
web/plugins/font-awesome/scss/_icons.scss
web/plugins/font-awesome/scss/_fixed-width.scss
web/plugins/font-awesome/scss/_core.scss
web/plugins/font-awesome/scss/_bordered-pulled.scss
web/plugins/font-awesome/scss/_animated.scss
web/plugins/font-awesome/less/variables.less
web/plugins/font-awesome/less/stacked.less
web/plugins/font-awesome/less/screen-reader.less
web/plugins/font-awesome/less/rotated-flipped.less
web/plugins/font-awesome/less/path.less
web/plugins/font-awesome/less/mixins.less
web/plugins/font-awesome/less/list.less
web/plugins/font-awesome/less/larger.less
web/plugins/font-awesome/less/icons.less
web/plugins/font-awesome/less/font-awesome.less
web/plugins/font-awesome/less/fixed-width.less
web/plugins/font-awesome/less/core.less
web/plugins/font-awesome/less/bordered-pulled.less
web/plugins/font-awesome/less/animated.less
web/plugins/font-awesome/fonts/FontAwesome.otf
web/plugins/font-awesome/fonts/fontawesome-webfont.woff2
web/plugins/font-awesome/fonts/fontawesome-webfont.woff
web/plugins/font-awesome/fonts/fontawesome-webfont.ttf
web/plugins/font-awesome/fonts/fontawesome-webfont.svg
web/plugins/font-awesome/fonts/fontawesome-webfont.eot
web/plugins/datatables/media/images/Sorting icons.psd
web/plugins/datatables/media/images/sort_desc_disabled.png
web/plugins/datatables/media/images/sort_desc.png
web/plugins/datatables/media/images/sort_both.png
web/plugins/datatables/media/images/sort_asc_disabled.png
web/plugins/datatables/media/images/sort_asc.png
web/plugins/datatables/media/images/forward_enabled_hover.png
web/plugins/datatables/media/images/forward_enabled.png
web/plugins/datatables/media/images/forward_disabled.png
web/plugins/datatables/media/images/favicon.ico
web/plugins/datatables/media/images/details_open.png
web/plugins/datatables/media/images/details_close.png
web/plugins/datatables/media/images/back_enabled_hover.png
web/plugins/datatables/media/images/back_enabled.png
web/plugins/datatables/media/images/back_disabled.png
web/plugins/datatables/media/images/.directory
web/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf
web/plugins/datatables/extensions/TableTools/swf/copy_csv_xls.swf
web/plugins/datatables/extensions/TableTools/Readme.txt
web/plugins/datatables/extensions/TableTools/images/xls_hover.png
web/plugins/datatables/extensions/TableTools/images/xls.png
web/plugins/datatables/extensions/TableTools/images/psd/printer.psd
web/plugins/datatables/extensions/TableTools/images/psd/file_types.psd
web/plugins/datatables/extensions/TableTools/images/psd/copy document.psd
web/plugins/datatables/extensions/TableTools/images/psd/collection.psd
web/plugins/datatables/extensions/TableTools/images/print_hover.png
web/plugins/datatables/extensions/TableTools/images/print.png
web/plugins/datatables/extensions/TableTools/images/pdf_hover.png
web/plugins/datatables/extensions/TableTools/images/pdf.png
web/plugins/datatables/extensions/TableTools/images/csv_hover.png
web/plugins/datatables/extensions/TableTools/images/csv.png
web/plugins/datatables/extensions/TableTools/images/copy_hover.png
web/plugins/datatables/extensions/TableTools/images/copy.png
web/plugins/datatables/extensions/TableTools/images/collection_hover.png
web/plugins/datatables/extensions/TableTools/images/collection.png
web/plugins/datatables/extensions/TableTools/images/background.png
web/plugins/datatables/extensions/Scroller/Readme.txt
web/plugins/datatables/extensions/Scroller/images/loading-background.png
web/plugins/datatables/extensions/Responsive/css/dataTables.responsive.scss
web/plugins/datatables/extensions/Plugins/type-detection/index.html
web/plugins/datatables/extensions/Plugins/sorting/index.html
web/plugins/datatables/extensions/Plugins/README.md
web/plugins/datatables/extensions/Plugins/pagination/index.html
web/plugins/datatables/extensions/Plugins/make.sh
web/plugins/datatables/extensions/Plugins/integration/jqueryui/index.html
web/plugins/datatables/extensions/Plugins/integration/jqueryui/dataTables.jqueryui.scss
web/plugins/datatables/extensions/Plugins/integration/foundation/index.html
web/plugins/datatables/extensions/Plugins/integration/foundation/images/sort_desc_disabled.png
web/plugins/datatables/extensions/Plugins/integration/foundation/images/sort_desc.png
web/plugins/datatables/extensions/Plugins/integration/foundation/images/sort_both.png
web/plugins/datatables/extensions/Plugins/integration/foundation/images/sort_asc_disabled.png
web/plugins/datatables/extensions/Plugins/integration/foundation/images/sort_asc.png
web/plugins/datatables/extensions/Plugins/integration/font-awesome/foundation.html
web/plugins/datatables/extensions/Plugins/integration/font-awesome/datatables.html
web/plugins/datatables/extensions/Plugins/integration/font-awesome/bootstrap.html
web/plugins/datatables/extensions/Plugins/integration/bootstrap/images/sort_desc_disabled.png
web/plugins/datatables/extensions/Plugins/integration/bootstrap/images/sort_desc.png
web/plugins/datatables/extensions/Plugins/integration/bootstrap/images/sort_both.png
web/plugins/datatables/extensions/Plugins/integration/bootstrap/images/sort_asc_disabled.png
web/plugins/datatables/extensions/Plugins/integration/bootstrap/images/sort_asc.png
web/plugins/datatables/extensions/Plugins/integration/bootstrap/3/index.html
web/plugins/datatables/extensions/Plugins/i18n/Vietnamese.lang
web/plugins/datatables/extensions/Plugins/i18n/Uzbek.lang
web/plugins/datatables/extensions/Plugins/i18n/Urdu.lang
web/plugins/datatables/extensions/Plugins/i18n/Ukranian.lang
web/plugins/datatables/extensions/Plugins/i18n/Turkish.lang
web/plugins/datatables/extensions/Plugins/i18n/Thai.lang
web/plugins/datatables/extensions/Plugins/i18n/Tamil.lang
web/plugins/datatables/extensions/Plugins/i18n/Swedish.lang
web/plugins/datatables/extensions/Plugins/i18n/Swahili.lang
web/plugins/datatables/extensions/Plugins/i18n/Spanish.lang
web/plugins/datatables/extensions/Plugins/i18n/Slovenian.lang
web/plugins/datatables/extensions/Plugins/i18n/Slovak.lang
web/plugins/datatables/extensions/Plugins/i18n/Serbian.lang
web/plugins/datatables/extensions/Plugins/i18n/Russian.lang
web/plugins/datatables/extensions/Plugins/i18n/Romanian.lang
web/plugins/datatables/extensions/Plugins/i18n/Portuguese.lang
web/plugins/datatables/extensions/Plugins/i18n/Portuguese-Brasil.lang
web/plugins/datatables/extensions/Plugins/i18n/Polish.lang
web/plugins/datatables/extensions/Plugins/i18n/Persian.lang
web/plugins/datatables/extensions/Plugins/i18n/Norwegian.lang
web/plugins/datatables/extensions/Plugins/i18n/Malay.lang
web/plugins/datatables/extensions/Plugins/i18n/Macedonian.lang
web/plugins/datatables/extensions/Plugins/i18n/Lithuanian.lang
web/plugins/datatables/extensions/Plugins/i18n/Latvian.lang
web/plugins/datatables/extensions/Plugins/i18n/Korean.lang
web/plugins/datatables/extensions/Plugins/i18n/Japanese.lang
web/plugins/datatables/extensions/Plugins/i18n/Italian.lang
web/plugins/datatables/extensions/Plugins/i18n/Irish.lang
web/plugins/datatables/extensions/Plugins/i18n/Indonesian.lang
web/plugins/datatables/extensions/Plugins/i18n/Indonesian-Alternative.lang
web/plugins/datatables/extensions/Plugins/i18n/index.html
web/plugins/datatables/extensions/Plugins/i18n/Icelandic.lang
web/plugins/datatables/extensions/Plugins/i18n/Hungarian.lang
web/plugins/datatables/extensions/Plugins/i18n/Hindi.lang
web/plugins/datatables/extensions/Plugins/i18n/Hebrew.lang
web/plugins/datatables/extensions/Plugins/i18n/Gujarati.lang
web/plugins/datatables/extensions/Plugins/i18n/Greek.lang
web/plugins/datatables/extensions/Plugins/i18n/German.lang
web/plugins/datatables/extensions/Plugins/i18n/Georgian.lang
web/plugins/datatables/extensions/Plugins/i18n/Galician.lang
web/plugins/datatables/extensions/Plugins/i18n/French.lang
web/plugins/datatables/extensions/Plugins/i18n/Finnish.lang
web/plugins/datatables/extensions/Plugins/i18n/Filipino.lang
web/plugins/datatables/extensions/Plugins/i18n/Estonian.lang
web/plugins/datatables/extensions/Plugins/i18n/English.lang
web/plugins/datatables/extensions/Plugins/i18n/Dutch.lang
web/plugins/datatables/extensions/Plugins/i18n/Danish.lang
web/plugins/datatables/extensions/Plugins/i18n/Czech.lang
web/plugins/datatables/extensions/Plugins/i18n/Croatian.lang
web/plugins/datatables/extensions/Plugins/i18n/Chinese.lang
web/plugins/datatables/extensions/Plugins/i18n/Chinese-traditional.lang
web/plugins/datatables/extensions/Plugins/i18n/Catalan.lang
web/plugins/datatables/extensions/Plugins/i18n/Bulgarian.lang
web/plugins/datatables/extensions/Plugins/i18n/Belarusian.lang
web/plugins/datatables/extensions/Plugins/i18n/Bangla.lang
web/plugins/datatables/extensions/Plugins/i18n/Azerbaijan.lang
web/plugins/datatables/extensions/Plugins/i18n/Arabic.lang
web/plugins/datatables/extensions/Plugins/i18n/Albanian.lang
web/plugins/datatables/extensions/Plugins/i18n/Afrikaans.lang
web/plugins/datatables/extensions/Plugins/filtering/index.html
web/plugins/datatables/extensions/Plugins/api/index.html
web/plugins/datatables/extensions/KeyTable/Readme.txt
web/plugins/datatables/extensions/FixedHeader/Readme.txt
web/plugins/datatables/extensions/FixedColumns/Readme.txt
web/plugins/datatables/extensions/ColVis/Readme.txt
web/plugins/datatables/extensions/ColReorder/Readme.txt
web/plugins/datatables/extensions/ColReorder/images/insert.png
web/plugins/datatables/extensions/AutoFill/Readme.txt
web/plugins/datatables/extensions/AutoFill/images/filler.png
web/plugins/bootstrap/less/wells.less
web/plugins/bootstrap/less/variables.less
web/plugins/bootstrap/less/utilities.less
web/plugins/bootstrap/less/type.less
web/plugins/bootstrap/less/tooltip.less
web/plugins/bootstrap/less/thumbnails.less
web/plugins/bootstrap/less/theme.less
web/plugins/bootstrap/less/tables.less
web/plugins/bootstrap/less/scaffolding.less
web/plugins/bootstrap/less/responsive-utilities.less
web/plugins/bootstrap/less/responsive-embed.less
web/plugins/bootstrap/less/progress-bars.less
web/plugins/bootstrap/less/print.less
web/plugins/bootstrap/less/popovers.less
web/plugins/bootstrap/less/panels.less
web/plugins/bootstrap/less/pagination.less
web/plugins/bootstrap/less/pager.less
web/plugins/bootstrap/less/normalize.less
web/plugins/bootstrap/less/navs.less
web/plugins/bootstrap/less/navbar.less
web/plugins/bootstrap/less/modals.less
web/plugins/bootstrap/less/mixins/vendor-prefixes.less
web/plugins/bootstrap/less/mixins/text-overflow.less
web/plugins/bootstrap/less/mixins/text-emphasis.less
web/plugins/bootstrap/less/mixins/table-row.less
web/plugins/bootstrap/less/mixins/tab-focus.less
web/plugins/bootstrap/less/mixins/size.less
web/plugins/bootstrap/less/mixins/responsive-visibility.less
web/plugins/bootstrap/less/mixins/resize.less
web/plugins/bootstrap/less/mixins/reset-text.less
web/plugins/bootstrap/less/mixins/reset-filter.less
web/plugins/bootstrap/less/mixins/progress-bar.less
web/plugins/bootstrap/less/mixins/panels.less
web/plugins/bootstrap/less/mixins/pagination.less
web/plugins/bootstrap/less/mixins/opacity.less
web/plugins/bootstrap/less/mixins/nav-vertical-align.less
web/plugins/bootstrap/less/mixins/nav-divider.less
web/plugins/bootstrap/less/mixins/list-group.less
web/plugins/bootstrap/less/mixins/labels.less
web/plugins/bootstrap/less/mixins/image.less
web/plugins/bootstrap/less/mixins/hide-text.less
web/plugins/bootstrap/less/mixins/grid.less
web/plugins/bootstrap/less/mixins/grid-framework.less
web/plugins/bootstrap/less/mixins/gradients.less
web/plugins/bootstrap/less/mixins/forms.less
web/plugins/bootstrap/less/mixins/clearfix.less
web/plugins/bootstrap/less/mixins/center-block.less
web/plugins/bootstrap/less/mixins/buttons.less
web/plugins/bootstrap/less/mixins/border-radius.less
web/plugins/bootstrap/less/mixins/background-variant.less
web/plugins/bootstrap/less/mixins/alerts.less
web/plugins/bootstrap/less/mixins.less
web/plugins/bootstrap/less/media.less
web/plugins/bootstrap/less/list-group.less
web/plugins/bootstrap/less/labels.less
web/plugins/bootstrap/less/jumbotron.less
web/plugins/bootstrap/less/input-groups.less
web/plugins/bootstrap/less/grid.less
web/plugins/bootstrap/less/glyphicons.less
web/plugins/bootstrap/less/forms.less
web/plugins/bootstrap/less/dropdowns.less
web/plugins/bootstrap/less/component-animations.less
web/plugins/bootstrap/less/code.less
web/plugins/bootstrap/less/close.less
web/plugins/bootstrap/less/carousel.less
web/plugins/bootstrap/less/buttons.less
web/plugins/bootstrap/less/button-groups.less
web/plugins/bootstrap/less/breadcrumbs.less
web/plugins/bootstrap/less/bootstrap.less
web/plugins/bootstrap/less/badges.less
web/plugins/bootstrap/less/alerts.less
web/plugins/bootstrap/less/.csslintrc
web/plugins/bootstrap/fonts/glyphicons-halflings-regular.woff2
web/plugins/bootstrap/fonts/glyphicons-halflings-regular.woff
web/plugins/bootstrap/fonts/glyphicons-halflings-regular.ttf
web/plugins/bootstrap/fonts/glyphicons-halflings-regular.svg
web/plugins/bootstrap/fonts/glyphicons-halflings-regular.eot
web/plugins/bootstrap/css/bootstrap.min.css.map
web/plugins/bootstrap/css/bootstrap.css.map
web/plugins/bootstrap/css/bootstrap-theme.min.css.map
web/plugins/bootstrap/css/bootstrap-theme.css.map
web/plugins/bootstrap-material-design/js/ripples.min.js.map
web/plugins/bootstrap-material-design/js/material.min.js.map
web/plugins/bootstrap-material-design/fonts/README.md
web/plugins/bootstrap-material-design/fonts/MaterialIcons-Regular.woff2
web/plugins/bootstrap-material-design/fonts/MaterialIcons-Regular.woff
web/plugins/bootstrap-material-design/fonts/MaterialIcons-Regular.ttf
web/plugins/bootstrap-material-design/fonts/MaterialIcons-Regular.ijmap
web/plugins/bootstrap-material-design/fonts/MaterialIcons-Regular.eot
web/plugins/bootstrap-material-design/fonts/codepoints
web/plugins/bootstrap-material-design/css/ripples.min.css.map
web/plugins/bootstrap-material-design/css/ripples.css.map
web/plugins/bootstrap-material-design/css/bootstrap-material-design.min.css.map
web/plugins/bootstrap-material-design/css/bootstrap-material-design.css.map
web/plugins/angular-1.4.7/version.txt
web/plugins/angular-1.4.7/angular.min.js.map
web/plugins/angular-1.4.7/angular-touch.min.js.map
web/plugins/angular-1.4.7/angular-sanitize.min.js.map
web/plugins/angular-1.4.7/angular-route.min.js.map
web/plugins/angular-1.4.7/angular-resource.min.js.map
web/plugins/angular-1.4.7/angular-messages.min.js.map
web/plugins/angular-1.4.7/angular-message-format.min.js.map
web/plugins/angular-1.4.7/angular-loader.min.js.map
web/plugins/angular-1.4.7/angular-cookies.min.js.map
web/plugins/angular-1.4.7/angular-aria.min.js.map
web/plugins/angular-1.4.7/angular-animate.min.js.map
